extends ../templates/add-bill.pug

append settings
  - const type = 'sales'
  - const title = 'Création d\'une facture de vente'

block contact
  +input('Client', 'Aldi', 'company')
  +input('Nom', 'Dos Santos', 'lastname')
  +input('Prénom', 'Benjamin', 'firstname')
  +input('Adresse', 'Avenue Albert 1er', 'address')
  +input('Numéro', '299', 'number', 'number')
  +input('Code postal', '1332', 'zip', 'number')
  +input('Ville', 'Genval', 'city')
  +input('Pays', 'Belgium', 'country')
  +input('Numéro de T.V.A', 'Numéro de T.V.A', 'tva')

block products
  +input('Description du service', 'Dos Santos', 'description')
  +input('Nombre d\'heure(s)', 'Dos Santos', 'hours')
