extends ../templates/add-bill.pug

append settings
  - const type = 'purchases'
  - const title = 'Création d\'une facture d\'achat'

block contact
  +input('Vendeur', 'Aldi', 'company', 'text')
  +input('Adresse', 'Avenue Albert 1er', 'address', 'text')
  +input('Numéro', '299', 'number', 'number')
  +input('Code postal', '1332', 'zip', 'number', 'number')
  +input('Ville', 'Genval', 'city', 'text')
  +input('Pays', 'Belgium', 'country')

block details
  +input('Nom du produit', 'Dos Santos', 'description')
  +input('Prix', 'Dos Santos', 'price', 'number')
