extends ../default.pug

block settings
  - const controller = 'home'
  - const action = 'index'

mixin card
  li(class="w-1/2 p-10 bg-grey-400 last:ml-20")
    h2(class="text-xl text-grey-600 text-light") Janvier
    strong(class="font-bold text-2xl") 1920€

block content
  ul(class="flex justify-between text-center")
    +card
    +card

  a(data-click="exportData") Exporter
  form(action="" method="method")
    input(type="file")
    button(type="button", data-click="importData") Importer
