extends ../default.pug

block settings
  - const controller = 'settings'
  - const action = 'index'
  - const title = 'Panneau d\'administration'

include ../components/input.pug

block content
  form(class="grid grid-cols-2 gap-x-12 gap-y-6 mt-10")
    +input('Nom*', 'Aldi', 'lastname')
    +input('Prénom*', 'Aldi', 'firstname')
    +input('Adresse*', 'Aldi', 'address')
    +input('Code postal*', 'Aldi', 'zip')
    +input('Ville*', 'Aldi', 'city')
    +input('Pays', 'Aldi', 'country')
    +input('Adresse e-mail*', 'Aldi', 'email')
    +input('N° de téléphone*', 'Aldi', 'phone')
    +input('Taux horaire HTVA*', 'Aldi', 'rate')
    +input('IBAN*', 'Aldi', 'iban')
    +input('Numéro d\'entreprise', 'Aldi', 'company')

    button(class="btn-full-blue ml-auto mt-auto" type="button" data-click="saveSettings") Enregister

  div(class="mt-20 flex justify-center")
    input(class="invisible w-0" type="file" data-change="importData")
    button(class="btn-full-blue" type="button" data-click="triggerImport") Importer des données
    a(class="btn-full-blue cursor-pointer ml-12" type="button" data-click="exportData") Exporter des données

    button(class="btn-full-blue ml-12 js-google-authorize" data-click="googleSignIn" type="button") Se connecter à Google
    button(class="btn-full-blue ml-12 js-google-signout " data-click="googleSignOut" type="button") Se déconnecter de Google
