block settings

<!DOCTYPE html>
html(lang="fr")

  include components/head.pug

  body(data-controller = controller, data-action = action, data-type= type)

    include components/header.pug

    main: div(class="w-1200 m-auto py-10")

      include components/content-header.pug

      block content
