@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Kumbh Sans;
    font-weight: 300;
    src: url(../fonts/KumbhSans-Light.woff) format("woff");
  }

  @font-face {
    font-family: Kumbh Sans;
    font-weight: 400;
    src: url(../fonts/KumbhSans-Regular.woff) format("woff");
  }

  @font-face {
    font-family: Kumbh Sans;
    font-weight: 700;
    src: url(../fonts/KumbhSans-Bold.woff) format("woff");
  }

  html {
    @apply text-base;
  }

  body {
    @apply antialiased bg-white;
  }

  button {
    @apply focus:outline-none;
  }
}

.is-visible {
  @apply visible;
}

.is-invisible {
  @apply invisible;
}

.rect-rounded {
  @apply px-8 py-4 rounded text-small;
}

.rect-rounded-border {
  @apply rect-rounded border-1;
}

.rect-rounded-border.is-active {
  @apply text-blue border-blue;
}

.rect-rounded-full {
  @apply px-8 py-4 rounded;
}

.line {
  @apply w-0.5 h-4 bg-white block absolute left-1/2 top-1/2 pointer-events-none;
}
