@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Kumbh Sans;
    font-weight: 300;
    src: url(../fonts/KumbhSans-Light.woff) format("woff");
  }

  @font-face {
    font-family: Kumbh Sans;
    font-weight: 400;
    src: url(../fonts/KumbhSans-Regular.woff) format("woff");
  }

  @font-face {
    font-family: Kumbh Sans;
    font-weight: 700;
    src: url(../fonts/KumbhSans-Bold.woff) format("woff");
  }

  html {
    @apply text-base;
  }

  body {
    @apply antialiased bg-white;
  }

  button {
    @apply focus:outline-none;
  }
}

@layer components {
  .rect-rounded {
    @apply px-8 py-4 rounded;
  }

  .rect-rounded-border {
    @apply rect-rounded border-1;
  }

  .btn-border {
    @apply rect-rounded-border font-bold;
  }

  .btn-border-blue {
    @apply rect-rounded-border text-blue border-blue font-bold;
  }

  .btn-full {
    @apply rect-rounded font-bold;
  }

  .btn-full-blue {
    @apply btn-full text-white bg-blue;
  }

  .btn-circle {
    @apply bg-grey-400 rounded-full;
  }

  .btn-circle-grey {
    @apply btn-circle hover:bg-red transition-colors ease-out duration-300;
  }

  .input-grey {
    @apply rect-rounded-border text-grey-600 border-grey-400 focus:outline-none focus:border-blue;
  }

  .line {
    @apply w-0.5 bg-white block absolute left-1/2 top-1/2 pointer-events-none;
  }

  .line-wide {
    @apply line h-4;
  }

  .line-short {
    @apply line h-2;
  }
}

@layer utilities {
  .is-visible {
    @apply visible;
  }

  .is-invisible {
    @apply invisible;
  }

  .has-submenu:hover .submenu {
    @apply visible;
  }
}
