mixin input(label, placeholder, name, type = 'text', required = true)
  div(class="flex flex-col")
    label #{label}
    input(name = name, class="input-grey mt-2 js-form-input", placeholder = placeholder, type = type, required = required)
