mixin input(label, placeholder, name, type = 'text', required = true)
  div(class="flex flex-col flex-auto")
    label #{label}
    input(name = name, class="rect-rounded-border border-grey-400 mt-2 js-form-input", placeholder = placeholder, type = type, required = required)
