extends ../default.pug

block settings
  - const controller = 'bill'
  - const action = 'create'

include ../components/input.pug

block content
  div(class="flex items-end mt-10")
    ul(class="flex")
      li
        button(class="js-form-toggle is-active" data-click="formNextStep" data-step="1") 1. Données de contact
      li(class="ml-10")
        button(class="js-form-toggle" data-click="formNextStep" data-step="2") 2. Produits

    p(class="ml-auto") * Champs requis

  div(class="relative")
    form(class="absolute mt-12 flex flex-col w-full js-form form is-visible")
      div(class="grid grid-cols-2 gap-x-12 gap-y-6 js-infos-area")
        block contact

      button(class="btn-full-blue ml-auto mt-12 js-next-button" type="button" data-click="formNextStep") Suivant

    form(class="absolute mt-12 flex flex-col w-full js-form form is-invisible")
      div
        div(class="js-details-area")
          div(class="flex flex-col border-grey-400 p-10 border-2 rounded-md items-start js-detail")
            div(class="grid grid-cols-2 gap-x-12 gap-y-6 w-full")
              block details

            block subdetails

        button(class="btn-full-blue ml-auto mt-12", type="button", data-click="addDetail") Ajouter un #{ submitLabel }

      a(class="btn-full-blue ml-auto mt-12", href = `/list-${ type }.pug`, data-click="addBill googleSave") Suivant
